@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Light.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Black.woff2) format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

html {
  color: #fff;
  font-size: 62.5%;
  background: #621402;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  font-family: Roboto,sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
  min-height: 100vh;
  background: #621402;
}

body.loading {
  opacity: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button {
  color: inherit;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

._container {
  width: 117rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ic {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.ic-arrow-right {
  font-size: 1.1rem;
  width: .54545em;
}

.ic-closed {
  font-size: 2.4rem;
  width: 1em;
}

.ic-next {
  font-size: .9rem;
  width: 5.33333em;
}

.ic-phone {
  font-size: 2rem;
  width: 1.05em;
}

.ic-prev {
  font-size: .9rem;
  width: 5.22222em;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.user__text {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.user__logo {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}

.main {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(98,20,2,.31)),color-stop(85.62%,#621402)),url(../img/bg.jpg);
  background: -o-linear-gradient(top,rgba(98,20,2,.31) 0,#621402 85.62%),url(../img/bg.jpg);
  background: linear-gradient(180deg,rgba(98,20,2,.31) 0,#621402 85.62%),url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.main__film {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.film__info-subtitle {
  opacity: .5;
}

.film__info-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.film__details-time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.film__details-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.film__trailer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.film__trailer svg {
  width: 100%;
  height: 100%;
}

.rating__text span {
  font-size: 2.4rem;
}

.session {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,.5);
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.session__date-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.session__date-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.nice-select {
  background: rgba(255,255,255,.15);
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nice-select .list {
  width: 100%;
  background: rgba(255,255,255,.15);
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 5px;
}

.nice-select .list .option.selected.focus {
  background: #fe8e05;
  color: #621402;
}

.scheme__container {
  background: rgba(36,36,36,.18);
  border-radius: 10px;
}

.scheme__container svg {
  width: 100%;
  height: 100%;
}

.scheme__container path:not(.light) {
  fill: rgba(255,255,255,.2);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.scheme__container path.booked {
  fill: rgba(255,255,255,.05);
  cursor: not-allowed;
}

.scheme__container path.active {
  fill: #fe8e05;
}

.legend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,.5);
  padding-top: 2.2rem;
  padding-bottom: 3.8rem;
  margin: 0 7rem;
}

.legend svg {
  width: 3.5rem;
  height: 2.9rem;
}

.legend__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.legend__text {
  opacity: .5;
}

.legend__active .legend__text {
  color: #fe8e05;
  opacity: 1;
}

.price__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fe8e05;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media (min-width:768px) {
  .header {
    position: absolute;
    top: 4rem;
    left: 13.5rem;
  }

  .header__logo {
    width: 3rem;
    height: 3rem;
  }

  .header__logo:not(:last-child) {
    margin-right: 5.7rem;
  }

  .menu__item {
    font-size: 1.4rem;
    line-height: 1.6rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .menu__item:not(:last-child) {
    margin-right: 2.5rem;
  }

  .user__text {
    line-height: 1.9rem;
    margin-right: 1.1rem;
  }

  .user__logo {
    width: 3.3rem;
    height: 3.3rem;
  }

  .main {
    padding-top: 15.3rem;
  }

  .film {
    margin-bottom: 5.9rem;
  }

  .film__info {
    max-width: 57rem;
  }

  .film__info-subtitle {
    font-size: 2.4rem;
    line-height: 150%;
    margin-bottom: 1.1rem;
  }

  .film__info-title {
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-bottom: 2.3rem;
  }

  .film__info-text {
    margin-bottom: 4.7rem;
  }

  .film__trailer {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }

  .time:not(:last-child) {
    margin-right: 3.4rem;
  }

  .time__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1.4rem;
  }

  .rating__icon {
    width: 3.5rem;
    height: 1.75rem;
    margin-right: 1.2rem;
  }

  .session {
    padding-top: 4.6rem;
    padding-bottom: 6.4rem;
  }

  .session__date-item {
    width: 9rem;
    height: 9rem;
    margin-right: 9.5rem;
  }

  .session__date-item:not(:last-child) {
    margin-right: 1.5rem;
  }

  .session__date-day {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.5rem;
  }

  .session__date-week {
    line-height: 2.2rem;
  }

  .session__cinema-select {
    width: 47rem;
    height: 6rem;
    margin-right: 3rem;
  }

  .session__time-select {
    width: 10.8rem;
    height: 6rem;
  }

  .session-label {
    display: block;
  }

  .session-label:not(:last-child) {
    margin-bottom: 2rem;
  }

  .nice-select {
    font-size: 1.6rem;
  }

  .nice-select::after {
    right: 2rem;
    height: .7rem;
    width: .7rem;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    top: 45%;
  }

  .scheme {
    margin-top: 6.3rem;
    margin-bottom: 6.2rem;
  }

  .legend__label:not(:last-child) {
    margin-right: 3rem;
  }

  .legend__text {
    margin-left: 1.6rem;
  }

  .price {
    margin-bottom: 16.3rem;
  }

  .price__label {
    display: block;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-bottom: 1.2rem;
  }

  .price__total {
    font-size: 5.2rem;
    line-height: 6.1rem;
  }

  .ruble {
    font-size: 5.2rem;
    line-height: 6.1rem;
  }

  .btn {
    font-size: 1.8rem;
  }

  .btn__pay {
    width: 25.4rem;
    height: 6.9rem;
  }
}

@media (min-width:768px) and (any-hover:hover) {
  .menu__item:hover {
    color: #fe8e05;
  }
}

@media (any-hover:hover) {
  .header__logo:hover {
    opacity: .7;
  }

  .user:hover .user__text {
    color: #fe8e05;
  }

  .user:hover .user__logo {
    opacity: .7;
  }

  .session__date-item:hover {
    background: #fe8e05;
    color: #621402;
  }

  .nice-select .list .option:hover {
    background: #fe8e05;
    color: #621402;
  }

  .scheme__container path:not(.light):hover {
    fill: rgba(255,255,255,.5);
  }

  .scheme__container path.booked:hover {
    fill: rgba(255,255,255,.05);
  }

  .scheme__container path.active:hover {
    fill: #fe8e05;
  }

  .btn:hover {
    color: #621402;
    background: #fff;
  }
}