.header {
  // .header__container
  &__container {
    display: flex;
    align-items: center;

    @media (min-width: $md) {
      padding-top: 4rem;
    }
  }
  // .header__logo
  &__logo {
    transition: all 0.3s ease 0s;
    
    @media (min-width: $md) {
      width: 3rem;
      height: 3rem;

      &:not(:last-child) {
        margin-right: 5.7rem;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
  // .header__nav
  &__nav {
    
  }
  // .header__menu
  &__menu {
    display: flex;
    align-items: center;
  }
  // .header__user
  &__user {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
.menu {
  // .menu__item
  &__item {
    

    @media (min-width: $md) {
      font-size: 1.4rem;
      line-height: 1.6rem;
      transition: all 0.3s ease 0s;

      &:not(:last-child) {
        margin-right: 2.5rem;
      }

      @media (any-hover: hover) {
        &:hover {
          color: #FE8E05;
        }
      }
    }
  }
  // .menu__link
  &__link {}
}
.user {

  @media (any-hover: hover) {
    &:hover {
      .user__text {
        color: #FE8E05;
      }

      .user__logo {
        opacity: 0.7;
      }
    }
  }

  // .user__text
  &__text {
    transition: all 0.3s ease 0s;
    
    @media (min-width: $md) {
      line-height: 1.9rem;
      margin-right: 1.1rem;
    }
  }
  // .user__logo
  &__logo {
    transition: all 0.3s ease 0s;
    border-radius: 50%;

    @media (min-width: $md) {
      width: 3.3rem;
      height: 3.3rem;
    }
  }
}
