.block {
  margin: 0px 0px 30px 0;

  &__item {
      padding: 0px 0px 10px 0px;
  }

  &__title {
      width: 100%;
      text-align: left;
      font-size: 18px;
      background-color: transparent;
      color: #fff;
      padding: 10px;
      position: relative;
  }

  &._init {
      .block__title {
          cursor: pointer;
          padding: 10px 40px 10px 10px; 

          &::after,
          &::before {
              content: "";
              width: 10px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              right: 10px;
              top: 20px;
              transition: transform 0.3s ease 0s;
          }

          &::after {
              transform: rotate(-90deg)
          }

          &._active::after {
              transform: rotate(0deg);
          }
      }
  }

  &__text {
      padding: 0 10px 10px;
      line-height: 130%;
      color: #fff;
  }

  &.block_1 {
      background-color: #77608d;
  }
}