.ic {
	display: inline-block;
    vertical-align: middle; 
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.ic-arrow-right {
	font-size:(11/10)*1rem;
	width:(6/11)*1em;
}
.ic-closed {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.ic-next {
	font-size:(9/10)*1rem;
	width:(48/9)*1em;
}
.ic-phone {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.ic-prev {
	font-size:(9/10)*1rem;
	width:(47/9)*1em;
}
