@import "utils/_variables";
@import "utils/_mixins";
@import "utils/_fonts";


html {
    color: #fff;
    background-color: #fff; 
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
}

body {
    font-family: $Roboto;
    font-size: 1.6rem;
    font-weight: 400;
    min-height: 100vh;
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

body.loading {
    opacity: 0;
}

* {
    box-sizing: border-box;
}

a, button {
    color: inherit;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


._container {
    width: 117rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@import "_sprite";
@import "blocks/header";
@import "blocks/footer";

