.ic {
	display: inline-block;
    vertical-align: middle; 
	width: 1em;
	height: 1em;
	fill: currentColor;
}

{{#shapes}}
.ic-{{base}} {
	font-size:({{height.inner}}/10)*1rem;
	width:({{width.inner}}/{{height.inner}})*1em;
}
{{/shapes}}