
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@title</title>

    <meta name="description" content="Описание">
    <meta name="keywords" content="Ключевики">
    <meta name="author" content="">
<!--
    <meta name="image" content="./img/favicon/logo.png">
	



    <meta property="og:type" content="website">
    <meta property="og:title" content="Название">
    <meta property="og:description" content="Описание">
    <meta property="og:image" content="./img/favicon/logo.png">
    <meta property="og:url" content="https://example.com">
    
    <link rel="canonical" href="https://example.com">

    <link rel="preconnect" href="//fonts.gstatic.com">
    <link rel="preconnect" href="//cdnjs.cloudflare.com">
    <link rel="preconnect" href="//google-analytics.com">
	


    <link rel="apple-touch-icon" sizes="57x57" href="./img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    
   <link rel="manifest" href="./img/favicon/manifest.json">
    
    <meta name="msapplication-TileImage" content="./img/favicon/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#FA4F35">
    
    


    <meta name="apple-mobile-web-app-title" content="Название">
    <meta name="apple-mobile-web-app-capable" content="yes">
	
-->

    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
	
	
    <script>
        const totalFontSize = function() {
            const pageWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;  
            
            
            if (pageWidth > 998) {
                let value = (pageWidth * 62.5 / 1440).toFixed(2);
                document.documentElement.style.fontSize = value + '%';
            } else {
                document.documentElement.style.fontSize = '62.5%';
            }
        };

        totalFontSize();
		
		window.addEventListener('resize', totalFontSize);
		
    </script>
    
	<!--
    <link rel="preload" href="fonts/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin>
		-->
	
	<link rel="stylesheet" href="css/plugins/plugins.min.css"> 
	
	<link rel="stylesheet" href="css/style.css">
