<header class="header">
  <div class="header__container _container">
    <a href="#" class="header__logo">
      <img src="img/logo.svg" alt="logo" loading="lazy">
    </a>
    <nav class="header__nav">
      <ul class="header__menu menu">
        <li class="menu__item">
          <a href="#" class="menu__link">Главная</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Фильмы</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Кинотеатры</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">События</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Поддержка</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="header__user user">
      <p class="user__text">Привет, Sikrit</p>
      <img class="user__logo" src="img/user.jpg" alt="user-logo" loading="lazy">
    </a>
  </div>
</header>
