<div data-spollers data-one-spoller class="block block_1">
  <div class="block__item">
    <button tabindex="-1" type="button" data-spoller class="block__title">Обычный спойлер №1</button>
    <div class="block__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, officia assumenda. Officiis doloremque ut aut praesentium, non reiciendis dolores. Necessitatibus, distinctio! Et, ipsa facilis?
    </div>
  </div>
</div>